<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center mt-5">
    <div class="circle m-2 circle-0" (click)="selectCircles(0)" [ngClass]="{ selected: selectedCirclesNum.indexOf(0) != -1 }"></div>
    <div class="circle m-2 circle-1" (click)="selectCircles(1)" [ngClass]="{ selected: selectedCirclesNum.indexOf(1) != -1 }"></div>
    <div class="circle m-2 circle-2" (click)="selectCircles(2)" [ngClass]="{ selected: selectedCirclesNum.indexOf(2) != -1 }"></div>
    <div class="circle m-2 circle-3" (click)="selectCircles(3)" [ngClass]="{ selected: selectedCirclesNum.indexOf(3) != -1 }"></div>
    <div class="circle m-2 circle-4" (click)="selectCircles(4)" [ngClass]="{ selected: selectedCirclesNum.indexOf(4) != -1 }"></div>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <div class="circle m-2 circle-5" (click)="selectCircles(5)" [ngClass]="{ selected: selectedCirclesNum.indexOf(5) != -1 }"></div>
    <div class="circle m-2 circle-6" (click)="selectCircles(6)" [ngClass]="{ selected: selectedCirclesNum.indexOf(6) != -1 }"></div>
    <div class="circle m-2 circle-7" (click)="selectCircles(7)" [ngClass]="{ selected: selectedCirclesNum.indexOf(7) != -1 }"></div>
    <div class="circle m-2 circle-8" (click)="selectCircles(8)" [ngClass]="{ selected: selectedCirclesNum.indexOf(8) != -1 }"></div>
    <div class="circle m-2 circle-9" (click)="selectCircles(9)" [ngClass]="{ selected: selectedCirclesNum.indexOf(9) != -1 }"></div>
  </div>
  <div class ="small-bold text-center" *ngFor="let selected of selectedCircles">
    {{selected}}
  </div>

  <div class="d-flex justify-content-center mt-5">
    <div class="part m-2" (click)="selectPart(0)" [ngClass]="{ selected: selectedPartsNum.indexOf(0) != -1 }"></div>
    <div class="part m-2" (click)="selectPart(1)" [ngClass]="{ selected: selectedPartsNum.indexOf(1) != -1 }"></div>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <div class="part m-2" (click)="selectPart(2)" [ngClass]="{ selected: selectedPartsNum.indexOf(2) != -1 }"></div>
    <div class="part m-2" (click)="selectPart(3)" [ngClass]="{ selected: selectedPartsNum.indexOf(3) != -1 }"></div>
  </div>

  <div class ="small-bold text-center" *ngFor="let selected of selectedParts">
    {{selected}}
  </div>
